.upcoming_banner {
    background-image: url(../img/upcoming_banner1.png);
    width: 100%;
    height: 643px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -111px center;
    margin-top: 116px;
}
section.event_information .event_data .name-and-price {
    display: flex;
    justify-content: space-between;
}

 h1 {
    color: #444444;
    font-size: 54px;
}
section.event_information .event_data .name-and-price .price h2 {
    color: #2281C3;
    font-size: 54px;
}
section.event_information .event_data .name-and-price .price span{
    color: #000000;
    font-size: 15px;
	font-family: "opensans-bold";
    font-weight: 600;
    display: block;
    text-align: right;
    text-decoration: underline;
}

.event_data p {
    color: #6E6E6E;
    font-size: 13px;
	font-family: "opensans-sm";
}

.event_boxes .for_box {
    padding: 30px 0px;
    border: 1px solid #F8F8F8;
}

.single_box {
    width: 100%;
}

.event_boxes .for_box .single_box:not(.no1)::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 2px;
    top: -13px;
    height: 80%;
    margin-top: 10%;
    background-color: #707070;
}

.event_boxes .for_box .single_box span {
    display: block;
    line-height: 21px;
    color: #000000;
    font-size: 11px;
	font-family: "Poppins";
}
.event_boxes .for_box .single_box span.for_date {
    text-decoration: underline;
    font-size: 15px;
    padding-top: 6px;
}


.accordian_start button.accordian_target {
    display: block;
    border: 0px;
    text-align: left;
    width: 100%;
    background: transparent;
    outline: none;
    position: relative;
    font-size: 15px;
    padding-bottom: 13px;
    box-shadow: none;
    border-bottom: 1px solid #70707038;
    color: #6E6E6E;
    font-family: "mmr";
}
.accordian_start button.accordian_target::after {
    content: "\f107";
    font: normal normal normal 24px/1 'FontAwesome';
    position: absolute;
    color: #444444;
    right: 6px;
    top: 1px;
}

.about-event {
    display: flex;
    padding: 33px 0px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid;
}
.about-event .time span {
    font-size: 18px;
    color: #000000;
}
.about-event .for-line {
    position: absolute;
    bottom: -1px;
    left: 0px;
    transition: 0.6s all;
    width: 0%;
    height: 3px;
    background: #abcd52;
}
.about-event:hover .for-line{
    width: 100%;
}
.about-event .for_img {
    position: absolute;
    right: 0px;
    bottom: 11px;
    height: 80%;
    width: 108px;
    z-index: 1;
}
.about-event .for_img img {
    max-width: 100%;
    opacity: 0;
    transition: 0.6s all;
}
.about-event .time {
    width: 140px;
    position: relative;
}
.about-event:hover .for_img img{
    opacity: 1;
}
.about-event .time::after {
    content: "";
    height: 80%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2px;
    background-color: black;
}

.about-event .event_info {
    padding-left: 35px;
}

.about-event .event_info p {
    margin-bottom: 0px;
    color: #000000;
    font-size: 18px;
    
}
.about-event .event_info p.address {
    font-size: 12px;
	font-family: "Poppins";
    text-decoration: underline;
}
/* Custom Checkbox */
.check_box_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check_box_container span {
    color: #6E6E6E;
	font-family: "opensans-sm";
    font-size: 13px;
}
/* Hide the browser's default checkbox */
.check_box_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.agree_terms_condition {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    transform: translateY(6px);
    width: 21px;
    border: 2px solid #707070;
    background-color: #eee;
}

.check_box_container:hover input~.checkmark {
    background-color: #ccc;
}

.check_box_container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check_box_container input:checked~.checkmark:after {
    display: block;
}

.check_box_container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Modal Css Start */
.modal-dialog {
    max-width: 410px;
    margin: 30px auto;
}
.modal-header {
    padding: 15px 25px;
    border: 0px !important;
}
button.add_more_link{
    border: 0px;
    background-color: transparent;
}
button.add_more_link span {
    color: #2281C3;
    font-size: 19px;
    font-family: 'mmr';
    text-shadow: none;
    text-decoration: underline;
}
.modal-body{
    padding: 15px 25px;
}
.modal_inner_data {
    padding-top: 28px;
    border-top: 1px solid #ECECEC;
}
.modal_inner_data .for_amoumt h3 {
    color: #444444;
}
.children_Numbers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.children_Numbers .number_box {
    width: 17%;
}

.children_Numbers .number_box label {
    width: 100%;
    text-align: center;
    border: 1px solid #D2D2D2;
    color: #D2D2D2;
    font-size: 22px;
    padding: 0px 0px;
}
.children_Numbers .child_number:checked + label{
    color: #2281C3 !important;
    border: 1px solid #2281C3;
}
.for_plus{
    opacity: 0.6 !important;
    justify-content: unset !important;
}
.for_plus.children_Numbers .number_box {
    margin-right: 12px;
}
.modal_inner_data .for_amoumt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 20px;
    border-top: 1px solid #ECECEC;
}

.for_btn button.btn {
    background: #8BC440;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
    font-weight: 500;
    transition: 0.6s;
    border-radius: 20px;
}

@media (max-width: 768px){
    .event_boxes .for_box .single_box.third::after{
        display: none !important;
    }
    .check_box_container span {
        line-height: 16px;
        display: block;
    }
    .check_box_container input:checked~.checkmark {
        display: block;
    }
}
@media (max-width: 576px){
    .event_boxes .for_box .single_box::after{
        display: none;
    }
    .name-and-price{
        display: block !important;
    }
    .name-and-price .price{
        text-align: right;
    }
    .about-event{
        display: block;
    }
    .about-event .time{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .about-event .time::after{
        display: none;
    }
    .agree_terms_condition{
        display: block;
    }
    .for_btn{
        text-align: right;
    }
}