section.forgot-password{
    margin-bottom: 90px;
}
.privacy_head {
    text-align: center;
    margin-top: 59px;
    margin-bottom: 30px;
}
.privacy_head h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
    font-family: "mmr";
    color: #444444;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox .checkboxdiv label {
    margin-left: 0px;
}
.sign-para {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
}
.privacy_head p {
    margin-top: 30px;
    padding: 0px 164px;
    font-size: 18px;
    font-weight: 400;
    font-family: "opensans";
}
.sign-para a {
    margin-left: 20px;
    color: #8BC440;
    font-size: 16px;
    font-weight: 700;
    font-family: "opensans";
}
.sign-para p {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 600;
    font-family: "opensans";
}
.signbtn {
    text-align: center;
    margin-top: 20px;
}
.form-group1 .form-control {
	border-radius: 5px !important;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #F8F8F8;
	border: unset;
    padding: 17px 27px;
    border: 1px solid #E9E9E9;  
}
.signbtn a.btnsign {
    background: #8bc440;
    color: #fff;
    font-size: 21px;
    width: 100%;
    height: 50px;
    padding: 8px 0 0 0;
    font-weight: 400;
    transition: 0.6s;
    border-radius: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid #8bc440;
    font-family: "mmr";
    text-decoration: none;
}
.signbtn a.btnsign:hover {
    background: #fff;
    color: #619700 !important;
    border: 1px solid #619700;
}
