/* Font Family */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@200&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* Font Family */

@font-face {
	font-family: "mmr";
	src: url(../fonts/MouseMemoirs-Regular.ttf);
}

@font-face {
	font-family: "opensans";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "opensans-sm";
	src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
	font-family: "opensans-m";
	src: url(../fonts/OpenSans-Medium.ttf);
}

@font-face {
	font-family: "worksans";
	src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
	font-family: "worksans-sm";
	src: url(../fonts/WorkSans-SemiBold.ttf);
}
@font-face {
	font-family: "worksans-m";
	src: url(../fonts/WorkSans-Medium.ttf);
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
	font-family: "OpenSans-regular";
	src: url(../fonts/OpenSans-Regular.ttf);
}
/* Universal Css Start Here */
:root {
	--first-color: #81be41;
	--second-color: #000000;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "mmr";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "mmr";
}

h1 {
	font-size: 60px;
	line-height: 70px;
	font-weight: 700;
	font-family: "mmr";
}

h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	font-family: "mmr";
}

h3 {
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	font-family: "mmr";
}

h4 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 400;
}

h5 {
	font-size: 20px;
	line-height: 30px;
}

a.btn {
	background: #8bc440;
	color: #fff;
	font-size: 16px;
	padding: 8px 30px;
	font-weight: 500;
	transition: 0.6s;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border: 1px solid #8bc440; 
}

.btn.footer_btn {
	background: #2281C3;
	color: #fff;
	font-size: 16px;
	padding: 10px 30px;
	font-weight: 500;
	transition: 0.6s;
	border-radius: 20px;
	font-family: "mmr";
	text-transform: uppercase;
}
.button-group {
    display: flex;
}
a.btn:hover {
	background: #fff;
	color: #619700 !important;
	border: 1px solid #619700;
}

.btn {
	background: #619700;
	color: #fff;
	font-size: 12px;
	padding: 10px 30px;
	font-weight: 500;
	transition: 0.6s;
	border-radius: 5px;
}

figure {
	margin-bottom: 0;
}

input::placeholder {
	color: #274d5e;
	font-size: 14px;
}

.heading-page {
	padding: 2rem;
	text-align: center;
	color: #fff;
	font-weight: unset;
}
.head-page {
    background: url(../img/universal_banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-family: "mmr";
    background-position: center;
}
::placeholder {
	font-family: "opensans";
}

label {
	font-family: "mmr";
}

.form-group .form-control {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #EBEBEB;
	border: unset;
	padding: 9px 27px;
}

.form-group .form-control::placeholder {
	font-family: "opensans-m";
	font-size: 14px;
}

/* a.btn:hover {
  color: #fff;
} */
/* Universal Css End Here */

/* Mobile Header Css Start Here */
header .canvas_btn {
	display: none;
	justify-content: end;
}

header .canvas_btn i.fa.fa-bars {
	color: #000;
	font-size: 20px;
}

.mobile_header {
	position: fixed;
	top: 0;
	width: 25%;
	height: 100%;
	background: #81be41;
	z-index: 6;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	right: 0;
	padding-left: 20px;
	transition: 0.8s;
	transform: translateX(120%);
}

.mobile_header.show {
	transform: translateX(0%);
}

.mobile_header ul.mobile_menus {
	padding: 0;
	list-style: none;
	margin: 0;
}

.mobile_header ul.mobile_menus li.menu_items {
	padding: 4px 0;
}

.mobile_header ul.mobile_menus li.menu_items a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.mobile_header .cancel {
	background: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
}

@media (max-width: 991px) {
	header .canvas_btn {
		display: flex;
	}
}

@media (max-width: 575px) {
	.mobile_header {
		width: 45%;
	}
}

@media (max-width: 480px) {
	.mobile_header {
		width: 65%;
	}
}

/* Mobile Header Css Start Here */

/* Herder Css Start Here */
/* .b_user_p2:first-child {
  border-right: 1px solid #eee;
} */
.orange-header .input-group {
	position: relative;
}

.orange-header .input-group-prepend {
	position: absolute;
	z-index: 2;
	right: 10px;
}

.orange-header {
	background: #f78914;
	padding: 1rem;
}

.orange-header .input-group .form-control:active,
.orange-header .input-group .form-control:focus,
.orange-header .input-group .form-control:hover {
	z-index: 2;
}

.b_user_p2 img {
	width: 24px;
}

.b_user_p2 p {
	text-decoration: underline;
}

.b_user_p span.c_name {
	color: #697f87;
	font-size: 14px;
}

hr.line {
	border-top: 36px solid #707070;
	margin: 0;
	width: 1px;
}

.b_user_p p {
	margin: 0;
	color: #000;
	font-size: 13px;
	font-family: "gtwm";
}

.b_user_p2 {
	display: flex;
	align-items: center;
	gap: 15px;
}

#header-top .head_account {
	line-height: 15px;
}

.b_user_p {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: end;
}

p.para1 {
	font-size: 14px;
}

#header-top .header-green p {
	color: #d0bfb1;
	margin: 0;
	line-height: 36px;
	font-size: 12px;
	font-family: "Poppins";
	display: inline;
}

#header-top .heading_top .custom-select option {
	background: none;
	color: #000;
}

#header-top .header-green {
	background: #8A5E3B;
	/* padding: 10px; */
}

#header-top .logoDv img {
	width: 106px;
}

#header-top .heading_top .custom-select {
	border: 0;
	color: #fff;
	background: transparent;
	font-size: 14px;
	background: url(../img/icon_down.png) no-repeat;
	background-position-x: right;
	background-position-y: center;
}

#header-top .heading_top {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	justify-content: end;
}

#header-top .heading_top {
	color: #fff;
}

#header-top .heading_top i {
	font-size: 12px;
	color: #8a5e3b;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	padding: 5px 6px;
}

#header-top .heading_top i:hover {
	color: #f78914;
}

#header-top .heading_top a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#header-top .heading_top span {
	text-transform: capitalize;
	font-size: 14px;
	margin-left: 10px;
	color: #fff;
}

#header-top .heading_top .input-group {
	align-items: center;
	margin-left: 1.5rem;
}

#header-top .heading_top i:not(:first-child) {
	padding-left: 6px;
}

#header-top {
	/* padding: 20px 0; */
}

#header-top ul.menus {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#header-top ul.menus li {
	display: inline-block;
	margin: 0 12px;
}

#header-top ul.menus li:nth-child(1) {
	margin-left: 0;
}

#header-top ul.menus li a {
	font-size: 18px;
	color: #adadad;
	text-decoration: none;
	font-weight: 400;
	text-transform: inherit;
}

#header-top #current_nav .menu-items a.active {
	color: #fff;
	background-color: #2281c3;
	padding: 1rem 10px;
	border-radius: 0 0 25px 25px;
}
#header-top ul.menus li a.active_tab {
    color: #fff;
    background-color: #2281c3;
    padding: 1rem 10px;
    border-radius: 0 0 25px 25px;
}
#header-top ul.menus li a.btn {
	color: #fff;
}

#header-top ul.action_links {
	padding: 0;
	list-style: none;
	margin: 0;
}

/* #header-top .right_menus {
  text-align: end;
} */
#header-top ul.action_links li.menu-items {
	display: inline-block;
}

#header-top ul.action_links li.menu-items.search_icon {
	margin-right: 20px;
}

#header-top ul.action_links li.menu-items.search_icon a i {
	color: #000;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu {
	display: block;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu {
	border-radius: 0;
	padding: 0;
	border: 1px solid #dddddddb;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu li {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #dddddd4f;
	padding: 10px 10px 10px 30px;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu li:last-child {
	border: 0;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu li a.dropdown-item {
	color: #000000ba;
	padding: 0;
	position: relative;
	background: transparent;
}

#header-top ul.menus li.menu-items.dropdown:hover .dropdown-menu li a.dropdown-item:before {
	content: "";
	background: #81be41;
	width: 5px;
	height: 5px;
	position: absolute;
	left: -15px;
	top: 8px;
}

@media (max-width: 1100px) {
	#header-top ul.menus li {
		margin: 0 7px;
	}

	#header-top ul.menus li a {
		font-size: 11px;
	}

	#header-top a.btn {
		font-size: 11px;
		padding: 7px 10px;
	}
}

@media (max-width: 991px) {
	#header-top ul.menus {
		display: none;
	}

	#header-top .right_menus {
		display: flex;
		justify-content: end;
		align-items: center;
	}

	#header-top .right_menus .canvas_btn {
		margin-left: 20px;
	}
}

@media (max-width: 425px) {
	#header-top .header-green p {
		font-size: 10px;
	}

	.b_user_p {
		gap: 18px;
	}

	.b_user_p2 img {
		width: 19px;
	}

	.b_user_p span.c_name {
		font-size: 11px;
	}

	.b_user_p p {
		font-size: 11px;
	}
}

/* Herder Css End Here */

/* banner section start here */
.custombtn {
	border: 1px solid #8bc440;
	color: #8bc440;
	padding: 7px 25px;
	border-radius: 20px;
	font-size: 16px;
}

section.banner_sec {
	background: url(../img/home_banner.webp) no-repeat;
	background-size: cover;
}

section.banner_sec .banner_content {
	padding: 9rem 0;
}

section.banner_sec .banner_content p.banner_para {
	font-size: 60px;
	color: #fff;
	line-height: 1.2;
}

section.banner_sec .banner_content span.green_txt {
	color: #8bc440;
}

section.banner_sec .banner_content p.banner_txt {
	color: #fff;
	font-family: "opensans";
	font-size: 14px;
	padding-right: 21px;
}

section.banner_sec .banner_content a.ourmembership {
	color: #fff;
	margin-left: 20px;
	text-decoration: underline;
}

section.banner_sec .banner_content a {
	font-size: 16px;
}

/* home about start here */
section.home_about_sec {
	padding: 6rem 0;
}

p.green_txt {
	color: #8bc440;
	margin-bottom: 0;
}

p.welcome_para {
	font-size: 45px;
	color: #444444;
	line-height: 1;
}

.home_about_content p.plaintxt {
	font-family: 'opensans';
	font-size: 14px;
}

/* home about end here */
/* home blue css start here */
section.blue_sec {
	background: #0e67a5;
	padding: 2rem;
}

section.blue_sec p.plainwhite {
	font-size: 45px;
	color: #ffffff;
	line-height: 1;
}

section.blue_sec p.plaintxt2 {
	font-family: 'opensans';
	font-size: 14px;
	color: #fff;
	padding-right: 9rem;
}

/* home blue css end here */
/* home service section start here */
section.home_services_sec p.services_para {
	font-family: "opensans";
	font-size: 14px;
	text-align: center;
}
section.home_services_sec {
    padding: 5rem 0px;
}
section.home_services_sec p.welcome_para {
    margin-bottom: 4rem;
}
section.home_services_sec p.services_head {
	text-align: center;
	font-size: 22px;
	margin-bottom: 0;
	margin-top: 10px;
}

section.home_services_sec .services_img img {
	width: 100%;
	border: 4px solid #abcd52;
	border-radius: 50%;
}

section.home_services_sec .blue_img img {
	width: 100%;
	border: 4px solid #2281c3;
	border-radius: 50%;
}

/* home service section end here */
/* home our memebership section start here */
section.ourmember_sec .number_text {
	font-size: 50px;
	color: #2281c3;
	border: 3px solid #2281c3;
	border-radius: 50%;
	width: fit-content;
	padding: 0 11px;
	margin: auto;
}

section.ourmember_sec p.plainwhite {
	font-size: 45px;
	color: #ffffff;
	line-height: 1;
}

section.ourmember_sec {
	background: url(../img/ourmemberbanner.webp) no-repeat;
	padding: 140px 0 230px;
	background-size: cover;
}

section.ourmember_sec p.green_txt {
	color: #2281c3;
	margin-bottom: 0;
}

.ourmembership_content p.full_day {
	font-family: "worksans";
	font-size: 14px;
}

.ourmembership_content {
	background: url(../img/ourmember2.png) no-repeat;
	text-align: center;
	padding: 1.5rem 0px;
}

.ourmembership_content a.btn {
	background: #2281c3;
}

section.ourmember_sec .view_btn {
	background: #fff;
	color: #8bc440;
	text-align: center;
	font-size: 18px;
	padding: 6px 35px;
}

section.ourmember_sec .viewall {
	width: 100px;
	margin: auto;
	margin-top: 2rem;
}

/* home our memebership section end here */

/* banner section end here */
/* testimonial css start here */
.testimonial_content {
	background: url(../img/testimonial1.webp) no-repeat;
	background-size: 100% 100%;
	padding: 2rem;
	transform: scale(0.95);
}

.testimonial_profile img {
	width: 68px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.testimonial_profile {
	display: flex;
	align-items: center;
	gap: 20px;
}

.testimonial_profile p {
	margin-bottom: 0px;
	color: #767676;
}

.testimonial_content p {
	color: #767676;
	font-family: "opensans";
	font-size: 14px;
}

p.test_profile_n {
	font-family: "opensans-m";
	font-size: 16px;
}
.testimonail_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #8BC440;
    font-size: 14px;
}
.slick-dots li button:before{
	font-size: 12px;
	color: #8BC440;
}
section.testimonial_sec {
    padding-bottom: 4rem;
}
/* testimonial css end here */

/* upcoming section start here */
.ourmember_sec.upcomming_sec .number_text {
	font-size: 50px;
	color: #2281c3;
	border: 3px solid #2281c3;
	border-radius: 50%;
	width: fit-content;
	padding: 0 11px;
	margin: auto;
}

.ourmember_sec.upcomming_sec p.plainwhite {
	font-size: 45px;
	color: #ffffff;
	line-height: 1;
}

.ourmember_sec.upcomming_sec {
	background: url(../img/upcomingbanner.webp) no-repeat;
	padding: 140px 0 230px;
	background-size: cover;
	background-position: center;
}

.ourmember_sec.upcomming_sec p.green_txt {
	color: #fff;
	margin-bottom: 0;
}

.ourmember_sec.upcomming_sec .ourmembership_content p.full_day {
	font-family: "worksans";
	font-size: 14px;
}

.ourmember_sec.upcomming_sec .ourmembership_content {
	background: url(../img/ourmember2.png) no-repeat;
	text-align: center;
	padding: 0px;
	padding-bottom: 1.5rem;
	overflow: hidden;
}

.ourmember_sec.upcomming_sec .ourmembership_content p {
	margin: 0;
}

.ourmember_sec.upcomming_sec .ourmembership_content a.btn {
	background: #2281c3;
}

.ourmember_sec.upcomming_sec .view_btn {
	background: #2281c3;
	color: #fff;
	text-align: center;
	font-size: 18px;
	padding: 6px 35px;
}

.ourmember_sec.upcomming_sec .viewall {
	width: 100px;
	margin: auto;
	margin-top: 2rem;
}

.ourmember_sec.upcomming_sec .ourmembership_content small {
	display: block;
	text-align: left;
	padding-left: 2rem;
	color: #444444;
	font-family: "opensans-sm";
}

.ourmember_sec.upcomming_sec .ourmembership_content p.welcome_para {
	font-size: 30px;
	color: #444444;
	line-height: 1;
	margin-bottom: 5px;
	text-align: left;
	padding-left: 2rem;
	padding-top: 1rem;
}

.ourmember_sec.upcomming_sec .ourmembership_content .upcoming_img {
	width: 300px;
	max-width: 300px;
}

/* upcoming section end here */

/* join us css start here */
section.joinus_sec label.resume {
    cursor: pointer;
    color: #ABCD52;
}

section.joinus_sec #upload {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/* join us css end here */
/* Footer Css Start Here */
button.btn.black {
	background: #000;
	color: #fff;
}

.black2 span.input-group-addon {
	border: 0;
	background: #fff;
}

.black2 input#email {
	border: 0;
}

.black1 {
	width: 420px;
}

.black1 h3 {
	color: #fff;
	margin: 0;
}

.black1 p {
	color: #fff;
}

.black_mid {
	/* padding-top: 9rem; */
}

.footer-sec-black {
	background: url(../img/footertop.png);
	display: flex;
	align-items: center;
	width: 900px;
	margin: 0px auto;
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	height: 200px;
	border-radius: 8px;
	padding: 1rem;
}

.black2 {
	flex-grow: 1;
}

.black1 p {
	margin: 0;
}

footer {
	margin: 2rem 0 0 0;
	position: relative;
	/* padding: 150px 0px 0px; */
	background-color: #fff;
	font-family: "opensans-m";
	border-top: 2px solid #707070;

}

footer .footer_content {
	margin-bottom: 35px;
	padding-left: 2rem;
	padding-top: 2rem;
}

footer .footer_content p {
	margin: 20px 0;
	font-size: 14px;
	color: #634C7A;
	line-height: 25px;
	/* padding-right: 80px; */
	/* padding: 2rem 1rem; */
	/* border-right: 1px solid #fff; */
}

footer .footer_content ul.social_links {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .footer_content ul.social_links li {
	display: inline-block;
}

footer .footer_content ul.social_links li {
	/* background: #08517f; */
	width: 40px;
	text-align: center;
	line-height: 36px;
	/* margin-right: 10px; */
	border: 2px solid #7a7c81;
	border-radius: 50%;
}

footer .footer_content ul.social_links li a {
	color: #fff;
}

/* footer .footer_content ul.social_links li a i:hover {
  color: #619700;
} */
footer .footer_content .head h5 {
	font-size: 18px;
	color: #634C7A;
	/* padding-bottom: 20px; */
	font-family: "opensans-sm";
}

footer .footer_content ul.footer_menus {
	margin: 0;
	padding: 0;
	list-style: none;
	/* border-right: 1px solid #fff; */
	/* padding: 2rem 1rem; */
}

/* footer .footer_content:after {
	content: "";
	border-right: 1px solid #274d5e;
	width: 1px;
	height: 60%;
	position: absolute;
	top: 4rem;
	right: 0;
}
footer .col-lg-4:last-child .footer_content:after {
	border: 0;
}
footer .footer_content p:after {
	content: "";
	border-right: 1px solid #274d5e;
	width: 1px;
	height: 60%;
	position: absolute;
	top: 4rem;
	right: 0;
} */
footer .footer_content ul.social_links .icon_instagram {
	width: 15px;
	vertical-align: baseline;
	line-height: 36px;
}

footer .footer_content ul.social_links li:hover {
	background: #7a7c81;
}

footer .footer_content ul.footer_menus li a {
	color: #634C7A;
	font-weight: 400;
	text-decoration: none;
	font-size: 14px;
}

footer .footer_content ul.footer_menus li {
	margin: 10px 0;
}

footer .footer_content ul.info {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer .footer_content ul.info li {
	color: #000000;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	margin: 10px 0;
	display: flex;
	align-items: flex-start;
}

footer .footer_content ul.info li a {
	color: #634C7A;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}

footer .footer_content ul.info i {
	margin-right: 7px;
}

footer .footer_content ul.info li img {
	width: 15px;
	margin-right: 5px;
}

footer .footer_content .form-group .form-control::placeholder {
	font-family: "opensans-m";
	font-size: 14px;
}

footer .footer_content .form-group .form-control {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #EBEBEB;
}

footer .footer_content .foot_social {
	background: #2281c3;
	border-radius: 50%;
	padding: 4px 8px;
	width: fit-content;
	display: inline-block;
	margin: 0 10px;
}

footer .footer_content .ft-logoDv img {
	width: 85%;
}

.copyright {
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #7070702e;
	background: #fff;
	font-family: "opensans";
}

.copyright p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	color: #8d8d8d;
}

.copyright .copyright_para a {
	color: #8d8d8d;
}

.copyright .copyright_para {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 1100px) {
	footer {
		padding: 50px 0px 0px;
	}
}

@media (max-width: 1024px) {
	footer .footer_content ul.social_links li {
		width: 30px;
		line-height: 30px;
	}
}

@media (max-width: 768px) {
	footer .footer_content:after {
		content: "";
		border-bottom: 1px solid #274d5e;
		width: 88%;
		height: 1px;
		position: absolute;
		/* right: 0; */
		border-right: 0px solid;
		top: unset;
	}

	footer .footer_content p:after {
		border-right: 0px;
	}

	.footer-sec-black {
		width: 100%;
	}

	.row.black_mid .col-lg-8 .row {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.footer-sec-black {
		width: 100%;
	}

	footer .footer_content:after {
		width: 91%;
	}

	.footer-sec-black .black1 {
		width: 315px;
	}

	.copyright p {
		font-size: 11px;
	}
}

@media (max-width: 425px) {
	.footer-sec-black {
		flex-direction: column;
		text-align: center;
	}

	.black1 h3 {
		font-size: 20px;
	}
}

/* Footer Css End Here */
/* Prelaoder */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #81be41;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #000;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}